@font-face {
    font-family: OpenSans;
    src: url('../../src/assets/font/OpenSans-Regular.ttf')
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url('../../src/assets/font/OpenSans-SemiBold.ttf')
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../../src/assets/font/OpenSans-Bold.ttf')
}