$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


$main-blue:#e5f2fb;
$main-green: #61a733;
$hover-green:#57962f ;
$red:#ff5a00;
$hover-red: #F15048;
$footer: #5b5b5b;